/** @format */
@import "utils";

.songListItem {
  width: 100%;
  :global(.ant-space-item) {
    &:nth-child(2) {
      width: 170px;
    }
  }
  .editAndDelete {
    display: none;
    :global(.ant-space-item) {
      &:nth-child(2) {
        width: auto;
      }
    }
  }

  &:hover {
    .editAndDelete {
      display: inline-flex;
    }
  }
  .img {
    cursor: pointer;
  }
  .right {
    display: flex;
    flex-direction: column;
    line-height: 16px;
    width: 100%;
    justify-content: space-between;
    // padding: 0 10px;
    overflow: hidden;

    .content {
      width: 90%;
      @include ellipsis();
      display: block;
    }

    .operator {
      display: flex;
      justify-content: space-between;
      .left {
        flex: 1;
      }
    }
  }
}
