// 登录
$qrCodePath: "../../assets/login/qrCode.png";
$deskPath: "../../assets/login/desktop.png";

.draggable {
  width: 100%;
  cursor: move;
}

._login {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 50px;

  .switchQrCode {
    position: absolute;
    right: -22px;
    bottom: -19px;
    width: 52px;
    height: 52px;
    background-image: url($qrCodePath);
    background-size: contain;
    cursor: pointer;
  }

  .loginTypeBtn {
    margin-top: 20px;
  }

  .pattern {
    width: 100%;
  }

  .img {
    margin-bottom: 12px;
    text-align: center;
  }

  .form {
    width: 100%;
  }

  .other {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
    // &:hover {
    //   color: #ca4841;
    // }
  }
}

.formLayout {

  display: flex;
  flex: 1;
  z-index: 99;
  flex-direction: column;
  max-width: 550px;
  padding-inline: 0;
  padding-block: 32px;
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding: 24px;
  height: max-content;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;

  .form {
    border-radius: 6px;
    background-color: #ffffff;
    padding: 32px;
    position: relative;
  }

  .visitor {
    position: absolute;
    left: 8px;
    top: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .bgImage {
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
    height: 52px;
    background-size: contain;
    cursor: pointer;

    &.qrCode {
      background-image: url($qrCodePath);
    }

    &.desktop {
      background-image: url($deskPath);

    }
  }


}