/** @format */

@import "utils";

.attistsDetail {
  width: 100%;
  .singerDetail {
    display: flex;
    height: 220px;
    .content {
      flex: 1;
      margin-left: 20px;
      .nickName,
      .number {
        color: #999999;
      }
    }
    .img {
      width: 200px;
      height: 200px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }
    }
  }
}

.summary {
  display: flex;
  .img {
    margin-right: 30px;
    width: 250px;
    height: 250px;
    img {
      height: 100%;
      border-radius: 5px;
    }
  }
  .name {
    font-size: 20px;
    font-weight: bold;
  }
  .nickName {
    color: #666666;
  }
}
