/** @format */

@import "utils";

.summary {
    display: flex;
    .img {
      margin-right: 30px;
      width: 250px;
      height: 250px;
      img {
        height: 100%;
        border-radius: 5px;
      }
    }
    .name {
      font-size: 20px;
      font-weight: bold;
    }
    .nickName {
      color: #666666;
    }
  }
