/** @format */

@import "utils";

._list {
  position: relative;
  width: 100%;

  cursor: pointer;

  .imgWrap {
    position: relative;
    height: 80%;
    border-radius: 4px;
    overflow: hidden;

    .number {
      position: absolute;
      right: 10px;
      color: #fff;
      top: 0;
      line-height: 32px;

      .listen {
        padding-right: 5px;
      }
    }

    img {
      width: 100%;
    }

    .descWrap {
      word-break: break-all;
      font-size: 12px;
      position: absolute;
      padding: 4px;
      line-height: 16px;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transform: translateY(-100%);
      transition: all 0.3s;

      .desc {
        color: #ffffff;
      }
    }

    &:hover {
      .descWrap {
        transform: translateY(0);
      }

      .playIcon {
        opacity: 1;
      }
    }
  }

  .name {
    @include ellipsis();
    font-size: 14px;
    margin: 0;
  }
}
