/** @format */
@import "utils";
._mvDetail {
  display: flex;
  .title {
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    .name {
      padding-left: 8px;
    }
  }
  .left {
    width: 60%;
    .avatar {
      margin-top: 15px;
      margin-bottom: 20px;
      .singer {
        margin-left: 8px;
      }
    }
    .songDesc {
      .title {
        .songName {
          font-size: 20px;
          font-weight: 700;
          color: #333333;
          padding-right: 8px;
        }
      }
      .publish {
        :first-child {
          padding-right: 15px;
        }
        margin: 15px 0;
        color: #c2c2c2;
        font-size: 12px;
      }
      .desc {
        line-height: 22px;
        margin-bottom: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
    .mvBtn {
      display: flex;
      justify-content: space-between;
      width: 60%;
      margin-bottom: 15px;
    }
    .commentList {
      font-size: 12px;
      .content {
        .nickname {
          cursor: pointer;
          color: #4f7daf;
          &:hover {
            color: #0d58b0;
          }
        }
      }
      .otherContent {
        padding: 5px;
        background-color: #f4f4f5;
        margin-bottom: 8px;
      }
      .more {
        text-align: center;
        color: #000000;
      }

      .footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .right {
    width: 30%;
    margin-left: 30px;

    .simiItem {
      display: flex;
      margin-top: 15px;
      cursor: pointer;

      .left {
        width: 40%;
        position: relative;
        color: white;
        img {
          width: 100%;
          border-radius: 5%;
        }
        .playCount {
          position: absolute;
          top: 7px;
          right: 9px;
          display: flex;
          width: 100%;
          justify-content: flex-end;
        }
        .time {
          position: absolute;
          bottom: 8px;
          right: 9px;
          display: flex;
          width: 100%;
          justify-content: flex-end;
        }
      }
      .right {
        flex: 1;
      }
    }
    .simiItem:first-of-type {
      margin-top: 0 !important;
    }
  }
  .select {
    color: white;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .btn {
    color: $fontColor;
    border-color: snow;
  }
}
