/** @format */
@import "utils";
.album {
  // margin-top: 20px;
  width: 100%;
  .desc {
    display: flex;
    .name {
      color: var(--font-color);
      cursor: pointer;
      &:hover {
        color: var(--font-color);
      }
    }
    .tag {
      color: var(--font-color);
      border-color: var(--font-color);
    }
    .topName {
      color: #333333;
      font-size: 20px;
    }
    .extra {
      color: var(--font-color);
      font-size: 20px;
    }
    .img {
      margin-right: 20px;
      width: 200px;
      height: 170px;
      cursor: pointer;
      background: url(.././../assets/coverall.png) no-repeat;
      background-position: -16px -989px;
      position: relative;
      img {
        border-radius: 5px;
        width: 81%;
        height: 100%;
      }
    }
  }

  .detail {
    margin-top: 20px;
    .title {
      font-weight: bold;
    }
    .desc {
      color: #999999;
      white-space: pre-line;
      line-height: 40px;
    }
  }

  .list {
    .space {
      width: 50px;
    }
    .title {
      flex: 1;
    }
    .singer {
      width: 100px;
      margin-right: 200px;
    }
    .album {
      width: 100px;
      margin-right: 200px;
    }
    .time {
      width: 50px;
      color: #888888;
      margin-right: 40px;
    }
    .head {
      @include flex();
      padding: 10px 0 10px 5px;
      color: #888888;
    }
    .list {
      li {
        @include flex();
        align-items: center;
        padding: 10px 0 10px 5px;
        @include zebra-lists(#333333, #ffffff, #333333, #fafafa);
        &:hover {
          background-color: #f2f2f3;
        }
        .space {
          @extend .space;
        }

        .title {
          @include ellipsis();
          color: #303031;
          @extend .title;
        }
        .singer {
          @include ellipsis();
          color: #656565;
          @extend .singer;
        }
        .album {
          cursor: pointer;
          @include ellipsis();
          color: #656565;
          @extend .album;
          &:hover {
            color: #303031;
          }
        }
        .time {
          @extend .time;
        }
      }
    }
  }
}
