/** @format */
@import "src/theme/utils";

.allArtists {
  @include ellipsis();
  width: 100%;
  display: inline-block;
  .artists {
    cursor: pointer;
    &:hover {
      color: $fontColor;
    }
  }
}
