/** @format */

@import "utils";
.carousel {
  // width: 1000px;
  margin: auto;
  position: relative;
  min-height: 120px;
  svg {
    width: 20px;
    height: 20px;
  }
  .item {
    position: relative;

    img {
      width: 100%;
      padding: 2%;
      position: relative;
      cursor: pointer;
    }
    .bg {
      font-size: 12px;
      position: absolute;
      bottom: 5px;
      right: 5px;
      text-align: right;
      color: #ffffff;
      border-radius: 40% 0 0 30%;
      i {
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }
  }

  .common {
    position: absolute;
    top: 39%;
    color: $bgColor;
  }

  .left {
    @extend .common;
    left: 5px;
  }

  .right {
    @extend .common;
    right: 5px;
  }

  //.right {
  //  position: absolute;
  //  top: 39%;
  //  right: 2%;
  //}
}
