/** @format */

.descContent {
  min-height: 300px;
}
.card {
  margin-bottom: 15px;
  .name {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .singerName {
      cursor: pointer;
      &:hover {
        color: #070707;
      }
    }
    .icon {
      cursor: pointer;
      color: #f44e41;
      &:hover {
        color: #e24439;
      }
    }
  }
  .singerCover {
    height: 160px;
    cursor: pointer;
    img {
      height: 100%;
      border-radius: 5px;
    }
  }
}
