/** @format */

@import "src/theme/utils";

._playerLayout {



  .lyric {




    .right {
      // flex: 1;
      // padding-top: 50px;
      // margin-left: 60px;

      // .top {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   margin-bottom: 20px;

      //   .name {
      //     font-size: 24px;
      //     color: var(--font-color-white);
      //   }
      // }

      .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 35px;

        .name {
          flex-basis: 100%;
          text-align: right;
        }

        .singer {
          font-size: 12px;
        }
      }
    }
  }

  .noSong {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--font-color);
  }


}