/** @format */

@import "utils";

$logoPath: "../../assets/topbar.png";

$lvBackground: "../../assets/mylevel.png";

header,
._header {
  display: flex;
  height: 65px;
  width: 100%;
  background-color: var(--header-bgcolor);
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 20px;
    background: url($logoPath) 0 -18px;
    width: 160px;
    height: 35px;
  }

  .routerBtn {
    width: 125px;
  }
  .skin {
    width: 200px;
    font-size: 18px;
  }
  .name {
    margin-left: 8px;
    font-size: 12px;
    margin-right: 8px;
    font: inherit;
  }
  .user {
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--font-color);
  }

  // .row {
  //   padding-top: 15px;

  //   .login {
  //     display: flex;
  //     margin-top: 5px;
  //     cursor: pointer;

  //     i {
  //       font-size: 20px;
  //       margin-right: 8px;
  //     }
  //   }
  // }

  // .skin {
  //   font-size: 18px;
  //   margin-top: 5px;
  //   color: var(--header-font-color);
  //   cursor: pointer;
  // }

  // .logo {
  //   background: url($logoPath) 0 -18px;
  //   width: 160px;
  //   height: 35px;
  // }

  // .user {
  //   display: flex;
  //   cursor: pointer;
  //   align-items: center;
  //   color: var(--font-color);

  //   .name {
  //     margin-left: 8px;
  //     font-size: 12px;
  //     margin-right: 8px;
  //     font: inherit;
  //   }
  // }

  .down {
    color: var(--header-font-color);
    font-size: 20px;
    margin-top: 7px;
  }
}

.show {
  display: none;
}

.themePop {
  .theme {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .com {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        &.black {
          background-color: rgb(32, 32, 32);
        }

        &.shallow {
          background-color: rgb(246, 246, 246);
          border: 1px solid rgb(235, 234, 234);
        }

        &.red {
          background-color: rgb(211, 58, 49);
        }
      }
    }
  }
}

.userPop {
  width: 300px;

  ._main {
    font-size: 12px;
    color: var(--font-color);

    .divider {
      margin: 5px 0 0 0;
    }

    .top {
      padding: 12px 18px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .attention {
        margin-top: 10px;
        @extend .user;

        .item {
          @extend .user;
          flex-direction: column;
        }
      }
    }

    .middle {
      ul {
        @include clearfix();

        .item {
          padding: 0 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          height: 30px;

          &:hover {
            background-color: #ecedee;
          }

          .level {
            display: flex;
            align-items: center;

            i {
              background: url($lvBackground) no-repeat left 5px;
              width: 30px;
              height: 30px;
            }

            em {
              font-weight: 800;
            }
          }

          p:first-child {
            display: flex;
            align-items: center;

            i {
              margin-right: 8px;
            }
          }
        }
      }
    }

    .bottom {
      cursor: pointer;
      height: 30px;
      padding: 0 18px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #ecedee;
      }
    }
  }
}

:global {
  ._userPop {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}
