/** @format */

@import "src/theme/utils";

$logoPath: "../../assets/topbar.png";
$lvBackground: "../../assets/mylevel.png";
$bgPath: "../../assets/xuebi.png";
$qrCodePath: "../../assets/qr_login_icon.png";

header,
._header {
  display: flex;
  height: 65px;
  width: 100%;
  // background-color: var(--header-bgcolor);
  // background-color: #ffffff;
  align-items: center;
  padding: 0 36px 0 0;

  .logo {
    margin-right: 130px;
    min-width: 174px;
    img {
      height: 65px;
    }
  }

  .routerBtn {
    flex-basis: 100px;
  }
  .skin {
    width: 200px;
    font-size: 18px;
  }
  .name {
    margin-left: 8px;
    font-size: 12px;
    margin-right: 8px;
    font: inherit;
  }
  .inputSearch {
    width: 530px;
    margin-right: 24px;
  }
  .addSongList {
    flex: 1;
  }
  .user {
    cursor: pointer;
    text-align: right;
    :global(.ant-popover-inner-content) {
      padding: 0;
    }
  }

  .down {
    color: var(--header-font-color);
    margin-top: 7px;
  }
}

.show {
  display: none;
}

.themePop {
  .theme {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .com {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        &.black {
          background-color: rgb(32, 32, 32);
        }

        &.shallow {
          background-color: rgb(246, 246, 246);
          border: 1px solid rgb(235, 234, 234);
        }

        &.red {
          background-color: rgb(211, 58, 49);
        }
      }
    }
  }
}

.userPop {
  width: 300px;
  :global(.ant-popover-inner-content) {
    padding: 0;
  }

  ._main {
    font-size: 12px;
    color: var(--font-color);

    .divider {
      margin: 5px 0 0 0;
    }

    .top {
      padding: 12px 18px 0 18px;

      .user {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .attention {
        margin-top: 10px;
        @extend .user;
        .link {
          align-items: center;
        }

        .item {
          flex-direction: column;
        }
      }
    }

    .middle {
      ul {
        @include clearfix();

        .item {
          padding: 0 18px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          height: 30px;

          &:hover {
            background-color: #ecedee;
          }

          .level {
            display: flex;
            align-items: center;

            i {
              background: url($lvBackground) no-repeat left 5px;
              width: 30px;
              height: 30px;
            }

            em {
              font-weight: 800;
            }
          }

          p:first-child {
            display: flex;
            align-items: center;

            i {
              margin-right: 8px;
            }
          }
        }
      }
    }

    .bottom {
      cursor: pointer;
      height: 30px;
      padding: 0 18px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: #ecedee;
      }
    }
  }
}

// 登录

._login {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 50px;

  .switchQrCode {
    position: absolute;
    right: -22px;
    bottom: -24px;
    width: 52px;
    height: 52px;
    background-image: url($qrCodePath);
    background-size: contain;
    cursor: pointer;
  }
  .loginTypeBtn {
    margin-top: 20px;
  }
  .pattern {
    width: 100%;
  }

  .img {
    margin-bottom: 12px;
    text-align: center;
  }

  .form {
    width: 100%;
  }
  .other {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
    // &:hover {
    //   color: #ca4841;
    // }
  }
}

// 搜索

._searchContent {
  width: 500px;
  height: 300px;
  overflow-y: scroll;

  .history {
    padding: 12px 16px 0 16px;

    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      .icon {
        color: #666666;
        display: flex;

        span {
          margin-right: 10px;
        }

        i {
          cursor: pointer;

          &:hover {
            color: #000000;
          }
        }
      }

      .all {
        color: #666666;
        cursor: pointer;

        &:hover {
          color: #000000;
        }
      }
    }

    .tag {
      .item {
        margin-bottom: 8px;
        cursor: pointer;
        height: 25px;
        line-height: 25px;

        &:hover {
          background-color: #eeeeee;
        }
      }
    }
  }

  .hot {
    .title {
      color: #717171;
      margin: 8px 0 10px 16px;
    }

    ul {
      @include clearfix();
      padding-bottom: 12px;
      font-size: 12px;

      .item {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 0 16px;
        margin-bottom: 5px;

        &:hover {
          background-color: #ededed;
        }

        .number {
          width: 36px;
          color: #999999;

          &.diff {
            color: #ff3a3a;
          }

          //text-align: center;
        }

        .content {
          flex: 1;

          .top {
            display: flex;

            .song {
              margin-right: 8px;
              font-weight: 700;
            }

            .img {
              width: 15px;
              margin-left: 10px;
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
._searchSuggest {
  width: 500px;
  max-height: 300px;
  padding: 0 0 10px 10px;
  // height: 300px;
  overflow-y: scroll;

  .searchTitle {
    color: #444444;
    margin: 5px 0 5px 10px;
  }

  .linkColor {
    color: var(--font-color);
    cursor: pointer;
  }

  .singer {
    ul {
      .name {
        padding-left: 30px;
        cursor: pointer;

        &:hover {
          background-color: #eeeeee;
        }
      }
    }
  }

  .song {
    ul {
      .item {
        display: flex;
        padding-left: 30px;
        cursor: pointer;
        p {
          margin: 0;
        }

        &:hover {
          background-color: #eeeeee;
        }

        .title {
          .name {
            margin-right: 5px;
          }

          .diff {
            color: #888888;
          }

          .split {
            margin: 0 5px;
          }
        }
      }
    }
  }

  .albums,
  .mv {
    ul {
      .item {
        padding-left: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #eeeeee;
        }

        .split {
          margin: 0 5px;
        }
      }
    }
  }

  .commonTitle {
    width: 100%;
    background-color: #f5f5f7;
    display: flex;
    align-items: center;
    margin: 0;

    i {
      margin-right: 8px;
      margin-left: 10px;
    }
  }
}

.addSongListForm {
  .title {
    width: 100%;
    cursor: move;
  }
  .content {
    width: 100%;
    :global(.ant-space-item) {
      &:nth-child(3) {
        text-align: center;
      }
    }
  }
}
