/** @format */
@import "src/theme/utils";
.playIcon {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -18px;
  transition: all 0.3s;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #faca2e;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-size: 16px;
    color: var(--font-color);
  }
}
