/** @format */

.exclusiveBroadcastItem {
  .name {
    color: #050505;
    padding-top: 10px;
    &:hover {
      color: #000000;
    }
  }
  .img {
    position: relative;
    height: 150px;
    img {
      width: 100%;
      border-radius: 5px;
    }
    .icon {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
