@import "utils";

._list {
  position: relative;
  width: 150px;
  margin: 4px 4px 15px 4px;
  cursor: pointer;

  .imgWrap {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;

    .number {
      position: absolute;
      bottom: 0;
      color: #fff;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      line-height: 32px;

      .listen {
        padding-left: 15px;
      }
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .descWrap {
      word-break: break-all;
      font-size: 12px;
      position: absolute;
      padding: 4px;
      line-height: 16px;
      left: 0;
      right: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transform: translateY(-100%);
      transition: all 0.3s;

      .desc {
        color: #ffffff;
        //font-size: $font-size-sm;
      }
    }

    .playIcon {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -18px 0 0 -18px;
      transition: all 0.3s;
      color: #fff;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: hsla(0, 0%, 100%, .5);
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 16px;
        color: $bgColor;

      }

    }

    &:hover {
      .descWrap {
        transform: translateY(0);
      }

      .playIcon {
        opacity: 1;
      }
    }
  }

  .name {
    @include ellipsis();
    font-size: 14px;
  }
}

