/** @format */
@import "utils";
.listChoose {
  cursor: pointer;
  .highQuality {
    position: relative;
    // cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    .content {
      display: flex;
      padding: 20px;
      z-index: 1;
      position: relative;

      .icon {
        color: #e7aa5a;
        border: 1px solid #e7aa5a;
        background: transparent;
        margin: 15px 0;
      }

      .img {
        width: 200px;
        height: 200px;
        flex-shrink: 0;

        margin-right: 20px;
        img {
          border-radius: 5px;
          width: 100%;
          height: 100%;
        }
      }

      .desc {
        .title {
          color: #ffffff;
          font-size: 18px;
        }
        .name {
          color: #ada5a4;
        }
        .detail {
          @include ellipsis-multi(2);
          color: hsla(0, 0%, 100%, 0.5);
          margin-bottom: 0;
          margin-top: 25px;
        }
      }
    }

    .background {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      -webkit-filter: blur(50px);
      filter: blur(50px);
      z-index: 0;
    }
    .mask {
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 0;
    }
  }
  .chooseBtn {
    width: 100%;
  }
  .catItem {
    display: flex;
  }
  .hotList {
    display: flex;
  }
  .catPopover {
    width: 700px;
  }
  .chooseTag {
    width: 70px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .select {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .item {
      display: flex;
      align-items: center;
    }
  }
}
