/** @format */

@import "src/theme/utils";

$logoPath: "../../../assets/topbar.png";
$lvBackground: "../../../assets/mylevel.png";
$bgPath: "../../../assets/xuebi.png";
$qrCodePath: "../../../assets/login/qr_login_icon.png";

header,
._header {
  // display: flex;
  // align-items: center;
  // padding: 0 36px 0 0;

  .searchContainer {
    // width: 343px;
    // margin-left: 86px;
    // margin-right: 24px;
  }

  :global(.ant-select-selector) {
    background-color: #F7F6FB !important;
    border: none !important;
    border-radius: 1000px;
  }

  .logo {
    margin-right: 130px;
    min-width: 174px;

    img {
      height: 65px;
    }
  }

  .routerBtn {
    flex-basis: 100px;
  }

  .skin {
    width: 200px;
    font-size: 18px;
  }

  .name {
    margin-left: 8px;
    font-size: 12px;
    margin-right: 8px;
    font: inherit;
  }

  .inputSearch {
    width: 530px;
    margin-right: 24px;
  }

  .addSongList {
    flex: 1;
  }

  .user {
    cursor: pointer;
    text-align: right;

    :global(.ant-popover-inner-content) {
      padding: 0;
    }
  }

  .down {
    color: var(--header-font-color);
    margin-top: 7px;
  }
}

.show {
  display: none;
}

.themePop {
  .theme {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .com {
        width: 25px;
        height: 25px;
        border-radius: 50%;

        &.black {
          background-color: rgb(32, 32, 32);
        }

        &.shallow {
          background-color: rgb(246, 246, 246);
          border: 1px solid rgb(235, 234, 234);
        }

        &.red {
          background-color: rgb(211, 58, 49);
        }
      }
    }
  }
}





// 登录

._login {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 50px;

  .switchQrCode {
    position: absolute;
    right: -22px;
    bottom: -24px;
    width: 52px;
    height: 52px;
    background-image: url($qrCodePath);
    background-size: contain;
    cursor: pointer;
  }

  .loginTypeBtn {
    margin-top: 20px;
  }

  .pattern {
    width: 100%;
  }

  .img {
    margin-bottom: 12px;
    text-align: center;
  }

  .form {
    width: 100%;
  }

  .other {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
    // &:hover {
    //   color: #ca4841;
    // }
  }
}


.addSongListForm {
  .title {
    width: 100%;
    cursor: move;
  }

  .content {
    width: 100%;

    :global(.ant-space-item) {
      &:nth-child(3) {
        text-align: center;
      }
    }
  }
}