/** @format */

@import "utils";
._latestMusic {
  .radioGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .list {
    font-size: 14px;
    min-height: 300px;
    .item {
      p {
        margin: 0;
      }
      cursor: default;
      display: flex;
      @include zebra-lists(#333333, #fafafa, #333333, #f5f5f7);
      height: 80px;
      justify-content: space-around;
      align-items: center;
      .icon {
        width: 18px;
        height: 18px;
        margin: -9px -9px;
      }
      .playFont {
        font-size: 12px;
      }
      &:hover {
        background-color: #f2f2f3;
        .icon {
          opacity: 1;
        }
      }
      .number {
        font-size: 12px;
        color: #bbbbbb;
        width: 30px;
        text-align: center;
        margin-left: 20px;
      }
      .img {
        width: 50px;
        height: 50px;
        position: relative;
        margin-right: 20px;
        margin-left: 10px;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
      .smallTip {
        color: #999999;
        font-size: 12px;
      }
      .content {
        color: #303030;
        flex: 1;
        @include ellipsis();
        display: flex;
        align-items: center;

        .playIcon {
          font-size: 18px;
          color: $fontColor;
          margin-left: 8px;
        }
      }
      .name {
        width: 200px;
        @include ellipsis();
      }
      .title {
        .name {
          cursor: pointer;
          color: #646464;
          &:hover {
            color: #303030;
          }
        }
        width: 280px;
        @include ellipsis();
      }
      .time {
        width: 70px;
        text-align: center;
        padding-right: 20px;
      }
    }
  }
  .newDiscItem {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 300px);
    margin-top: 20px;
    .layout {
      display: flex;
      justify-content: space-between;
      .time {
        position: relative;
        width: 50%;
        margin-right: 35px;
        .fixed {
          position: fixed;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .month {
          font-weight: bold;
          font-size: 18px;
          color: #333333;
        }
        .year {
          color: #333333;
          font-size: 12px;
        }
      }
    }
    .content {
      margin-bottom: 20px;
    }
    .name {
      display: block;
      margin-top: 8px;
      color: #333333;
      @include ellipsis();
      &:hover {
        color: #000000;
      }
      cursor: pointer;
    }

    .img {
      min-width: 160px;
      
      cursor: pointer;
      position: relative;
      background: url("../../../../assets/coverall.png") no-repeat;
      background-position: -20px -993px;
      img {
        width: 84%;
        border-radius: 5px;
      }
      &:hover {
        .playIcon {
          opacity: 1;
        }
      }
    }
    .loading {
      text-align: center;
    }
  }
}
