/** @format */

.card {
  margin-bottom: 15px;
  position: relative;
  display: flex;
  .publishTime {
    color: #999999;
  }
  .name {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .singerName {
      cursor: pointer;
      margin-top: 10px;
      &:hover {
        color: #070707;
      }
      .alias {
        color: #999999;
      }
    }
  }

  .singerCover {
    cursor: pointer;

    height: 170px;
    background: url("../../../assets//coverall.png") no-repeat;
    background-position: -16px -989px;
    &:hover {
      .playIcon {
        opacity: 1;
      }
    }

    position: relative;
    .time {
      position: absolute;
      bottom: 16px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #fff;
    }
    .img {
      position: relative;
      width: 83%;
      height: 100%;
      .playCount {
        position: absolute;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
      }
    }

    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
}
