/** @format */

@import "src/theme/utils";

.editSongList {
  width: 100%;
  .submitFooter {
    width: 100%;
    justify-content: center;
  }

  .img {
    width: 100%;
  }

  .addLabel {
    .label {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .labelList {
    width: 470px;

    .top {
      height: 250px;
      overflow-y: scroll;

      .description {
        font-size: 12px;
        color: var(--font-color);
        margin-bottom: 15px;

        .number {
          color: #bb3030;
        }
      }

      .item {
        display: flex;
        align-items: center;

        .left {
          font-weight: 800;
          width: 50px;
        }

        .right {
          flex: 1;

          .tag {
            margin-bottom: 8px;
            cursor: pointer;
            width: 60px;
            @include ellipsis();
          }
        }
      }
    }
  }

  .footer {
    position: relative;
    margin-top: 15px;
    text-align: center;

    .tip {
      font-size: 12px;
      color: #bd3738;
      position: absolute;
      left: 0;
      top: 7px;
    }
  }
}
