/** @format */

@import "utils";

._allTopList {
  margin-top: 20px;
  .item {
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;

    &:hover {
      .playIcon {
        position: absolute;
        bottom: 25px;
        right: 7px;
        width: 30px;
        display: flex;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #b7b6df;
        justify-content: center;
        align-items: center;
        background-color: #312b4a;
        color: #ffffff;
      }
    }

    .img {
      width: 100%;
      border-radius: 5%;
    }

    .count {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      text-align: right;
      padding-right: 8px;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.4);
    }

    .playIcon {
      display: none;
    }

    .name {
      @include ellipsis();
      font-size: 14px;
    }
  }
}
