/** @format */
._personalRecommendation {
  .carousel {
    height: 150px;
    position: relative;
    font-size: 10px;

    svg {
      width: 20px;
      height: 20px;
    }

    img {
      border-radius: 5px;
      position: relative;
      cursor: pointer;
    }

    .bg {
      width: 50px;
      display: block;
      font-size: 12px;
      position: absolute;
      bottom: 7px;
      right: 12px;
      text-align: center;
      color: #ffffff;
      border-radius: 5px 0;

      i {
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }

    .common {
      position: absolute;
      top: 39%;
      color: var(--font-color);
    }

    .left {
      @extend .common;
      left: 5px;
    }

    .right {
      @extend .common;
      right: 5px;
    }
  }

  .recommendResourceItem {
    .imgWrap {
      position: relative;

      overflow: hidden;

      &:hover {
        .descWrap {
          transform: translateY(0);
        }

        .number {
          transform: translateY(0%);
          bottom: 3px;
        }

        .playIcon {
          opacity: 1;
        }
      }
    }
  }

  .newSongItem {
    &:hover {
      .playIcon {
        opacity: 1;
      }
    }
  }

  .privateContentItem {
    &:hover {
      .playIcon {
        opacity: 1;
      }
    }
  }

  .mvItem {
    .imgWrap {
      &:hover {
        .playIcon {
          opacity: 1;
        }
        .descWrap {
          transform: translateY(0);
        }
      }

      .descWrap {
        word-break: break-all;
        font-size: 12px;
        position: absolute;
        padding: 4px;
        line-height: 16px;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transform: translateY(-100%);
        transition: all 0.3s;
        color: #ffffff;
      }
    }
  }
}

:global {
  .slick-current,
  .slick-slide {
    position: relative;
  }

  .slick-current {
    ._carousel_bg {
      bottom: 1px;
      right: -4px;
    }
  }
}
