/** @format */

@import "utils";
@import "variables";
@import "~video-react/styles/scss/video-react";
@import "../public/iconfont/iconfont.css";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  color: var(--font-color);
}
p {
  margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  color: var(--font-color);
}

ul,
li,
dl,
dt {
  list-style: none;
  margin: 0;
}

a {
  color: var(--font-color);

  :hover {
    color: var(--tab-item-active-color);
  }
}

img {
  border-radius: 5px;
}

.center img {
  opacity: 0.8;
  transition: all 0.3s ease;
}

.center .slick-center img {
  opacity: 1;
  -ms-transform: scale(1.08);
  transform: scale(1.08);
}

#root {
  background: var(--body-bgcolor);
}
i,
em {
  font: inherit !important;
}

.playerWrapper {
  overflow: hidden;
  height: 370px;
  position: relative;
  mask-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.6) 15%,
    #fff 25%,
    #fff 75%,
    hsla(0, 0%, 100%, 0.6) 85%,
    hsla(0, 0%, 100%, 0)
  );


  .bscroll-indicator {
    border: none !important;
    background: var(--scrollbar-color) !important;
  }

  .content {
    text-align: center;
    margin-top: 100px;

    .wrapItem {
      margin-bottom: 14px;
      font-size: 14px;

      .active {
        font-size: 16px;
        color: var(--font-color-white);
        font-weight: 700;
      }

      .title {
        margin-bottom: 4px;
      }
    }
  }
}

// 滚动条
::-webkit-scrollbar-track {
  background-color: var(--menu-bgcolor);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #00A799;
}

::-webkit-scrollbar-thumb {
  background-color: #00A799;
}

//antd
.ant-progress-bg {
  height: 3px !important;
}
.ant-table-small {
  border: none !important;
}
.ant-table-small > .ant-table-content > .ant-table-body {
  margin: 0 !important;
}
// 顶部加载效果样式充值
#nprogress .bar {
  background: var(--font-color) !important; //自定义颜色
}

.ant-descriptions-item-label {
  flex: none !important;
}

.video-react {
  border-radius: 5px;
}
.video-react-control-bar {
  border-radius: 5px;
}
.video-react .video-react-volume-level {
  left: -2px !important;
}

.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0 !important;
}
