@import "utils";

.home {
  main {
    padding-top: 65px;
    display: flex;
    min-height: 500px;
    padding-bottom: 75px;

    aside {
      width: 300px;
      color: var(--font-color);
      background: var(--menu-bgcolor);

      .recommend, .myMusic {
        text-align: left;
        @include fl();
        width: 100%;

        h2 {
          margin-top: 15px;
          margin-bottom: 10px;
          margin-left: 10px;
          color: var(--font-color);
        }

        .list {
          @include fl();
          width: 100%;

          li {
            a {
              display: inline-block;
              line-height: 32px;
              width: 100%;
              padding-left: 15px;
            }

            :hover {
              color: var(--font-color);
              background: var(--menu-item-hover-bg);
            }

            .icon {
              padding-right: 10px;
            }

            .activeRouter {
              color: var(--font-color);
              background: var(--menu-item-active-bg);
            }

          }
        }
      }
    }

    article {
      flex: 1;
      padding: 0 108px;
      background: var(--body-bgcolor);
      color: var(--font-color);
    }
  }
}
