/** @format */

@import "utils";

._playRecord {
  padding-bottom: 65px;
  .header {
    display: flex;
    justify-content: space-between;
    p {
      margin: 0;
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .delete {
        i {
          margin-right: 8px;
        }
      }
    }
  }

  .divider {
    margin: 8px 0;
  }
}
