/** @format */

@import "utils";

$bgPath: "../../assets/xuebi.png";
._login {
  align-items: inherit;
  display: flex;
  justify-content: space-between;
  .pattern {
    width: 100%;
  }

  .img {
    margin-bottom: 12px;
    text-align: center;
  }

  .form {
    width: 100%;
  }
  .other {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-top: 12px;
    &:hover {
      color: #ca4841;
    }
  }
}
